$container-width: 1366px;
$container-padding: 55px;
$h-gutter: 0;

@import '~flexbox-grid-pro/grid/scss/grid';
@import 'fonts';
@import 'utils';
@import 'util-classes';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Playfair Display', Arial, sans-serif;
  min-height: 100%;

  @include for-tablet-landscape-down {
    font-size: 14px;
  }
}

body {
  position: relative;
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  min-width: 320px;
}

.root {
  height: 100%;
  min-height: 100%;
  padding: 40px 0 0 0;
}

.container {
  box-sizing: border-box;
  position: relative;

  @include for-tablet-landscape-down {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  &_quality {
    padding: 0;
  }
}