.button {
  display: inline-block;
  padding: 24px 37px;
  font-size: 12px;
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #444240;
  text-decoration: none;
}