@import '../../sass/utils';

.button {
  display: inline-block;
  padding: pxToRem(24) pxToRem(37);
  font-size: 12px;
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #444240;
  text-decoration: none;

  &_color_brown {
    background: #D4B098;
  }
}