.user {
  position: relative;

  &__button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    bottom: -5px;
    left: 0;
    padding: 10px;
    margin: 0;
    background-color: #444240;
    min-width: 99px;
    list-style: none;
    transform: translateY(100%);
    transform-origin: top;

    &-enter {
      opacity: 0;
      transform: translateY(100%) scaleY(0.1);
    }

    &-enter-active {
      opacity: 1;
      transform: translateY(100%) scaleY(1);
      transition: 300ms;
    }

    &-exit {
      opacity: 1;
      transform: translateY(100%) scaleY(1);
    }

    &-exit-active {
      opacity: 0;
      transform:translateY(100%) scaleY(0.1);
      transition: 300ms;
    }
  }

  &__link {
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
  }
}