@import '../../sass/utils';
@import '../../sass/vars';

.hero {
  margin-bottom: 315px;
  padding-top: pxToRem(180);
  display: flex;
  align-items: center;

  @include for-tablet-landscape-down {
    padding-top: pxToRem(40);
    margin-bottom: pxToRem(40);
  }

  &__text {
    margin: 0 0 58px 0;
    max-width: 266px;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
  }

  &__heading-h1 {
    margin-bottom: 6px;
    position: relative;
    z-index: 2;
  }

  &__heading-h2 {
    margin-bottom: 27px;
  }

  &__advert {
    margin-left: pxToPercent(112, 1256);
  }

  &__decor-line-wrapper {
    position: absolute;
    top: 60%;
    left: -65px;

    @include for-tablet-landscape-down {
      display: none;
    }
  }
}