@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme.css';
@import '../../sass/utils';

.card-carousel {
  position: relative;
  width: 100%;
  max-width: 560px;

  &__for {
    .card-carousel__img {
      width: 100%;
      height: auto;
      max-width: 443px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    .slick-track {
      display: flex;
      justify-content: space-between;
      transform: none !important;
    }

    .slick-slide {
      width: 100% !important;
      background-color: rgba(100, 100, 100, 0.15);
      max-width: 127px;
      transition: background-color .5s;
      cursor: pointer;
    }

    .slick-current {
      background-color: transparent;
    }

    .card-carousel__img {
      width: 100%;
      height: auto;
    }
  }

  &__preview {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }
}