.heading {
  position:absolute;
  top: 236px;
  left: 185px;
  width: 343px;
  height: 48px;
  font-size: 45px;

  font-family:Playfair Display, Arial, sans-serif;
  font-style:normal;
  font-weight:normal;
  line-height: 60px;

  color: #1B1A17;
}