@import '../../sass/utils';

.heading {
  margin: 0;
  font-size: pxToRem(45);
  font-family: Playfair Display, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 60px;
  color: #1B1A17;

  &_centered {
    text-align: center;
  }
}

h2.heading {
  font-size: pxToRem(32);
  line-height: 43px;
}

h3.heading {
  font-size: pxToRem(30);
  line-height: 40px;
}