.userbar {
  position: relative;
  z-index: 1;
  display: flex;
  width: 99px;
  justify-content: space-between;
  margin-left: auto;
}

.cart-icon {
  position: relative;

  &__badge {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    line-height: 0;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(10px, -32px);

    &_brown {
      background-color: #fb9d5e;
    }

    &-enter {
      opacity: 0;
      transform: translate(10px, -32px) scale(0.1);
    }

    &-enter-active {
      opacity: 1;
      transform: translate(10px, -32px) scale(1);
      transition: 500ms;
    }

    &-exit {
      opacity: 1;
      transform: translate(10px, -32px) scale(1);
    }

    &-exit-active {
      opacity: 0;
      transform: translate(10px, -32px) scale(0.1);
      transition: 500ms;
    }
  }
}