.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &_vertical {
    width: 18px;
    height: 75px;
    flex-direction: column;
  }

  &_horizontal {
    justify-content: space-between;
    width: 93px;
  }
}