.shopping-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e2dfdf;
  margin-bottom: 20px;

  &__description,
  &__price {
    font-family: Roboto, Arial, sans-serif;
  }

  &__vendor {
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #444240;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  &__link {
    font-family: inherit;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}