.slider-wrapper {
  position: relative;
  height: 60px;
}

.slider {
  position: absolute;
  top: 5.5px;
  left: 0;
}

.noUi-target {
  width: 230px !important;
  height: 1px !important;
  background: #D4D4D4 !important;
  border: 0 !important;
}

.noUi-connect {
  background: #1B1A17 !important;
}

.noUi-handle {
  width: 11px !important;
  height: 11px !important;
  border: 1px solid #1B1A17 !important;
  border-radius: 50% !important;
  box-shadow: none !important;
  outline: none;

  &:active,
  &:focus {
    box-shadow: 0 0 5px #1B1A17 !important;
  }

  &::before,
  &::after {
    width: 0 !important;
    height: 0 !important;
  }
}

.noUi-horizontal .noUi-handle {
  top: -4px !important;
  right: -10px !important;
}

.noUi-tooltip {
  bottom: -17px !important;
  padding: 0 !important;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  color: rgba(27, 26, 23, 0.82) !important;
  border: 0 !important;
}

.noUi-horizontal .noUi-handle.noUi-handle-upper {
  //right: 3px !important;
}